<div class="lobby-container container mt-5">
    <form class="p-4 border rounded shadow-sm bg-light" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group mb-3">
            <label class="form-label" for="username">User Name:</label>
            <input [formControl]="userName" class="form-control" id="username" name="username"
                placeholder="Enter your name" required type="text" autocomplete="off" />
        </div>
        <button class="btn btn-primary w-100" type="submit">Join Room</button>
    </form>
</div>